._page__header-link-active {
  color: #F58A07;
}

@media (max-width: 980px) {
  ._page__header-link-active {
    color: #FFFFFF;
  }
}

.page__solutuin {
  margin: 108px 0 128px 0;
}

@media (max-width: 980px) {
  .page__solutuin {
    margin: 4.28571rem 0 128px 0;
  }
}

@media (max-width: 980px) {
  .page__solutuin-items {
    padding: 0 0 0 0;
  }
}

._active-bth:hover {
  background-color: #aa5200;
}

@media (max-width: 980px) {
  ._active-bth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 30px 0;
  }
}

.page__solutuin-picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.18%;
          flex: 0 1 48.18%;
  padding: 0 0 51.18% 0;
}

@media (max-width: 780px) {
  .page__solutuin-picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 0 90% 0;
  }
}

.page__strategy {
  margin: 0 0 128px 0;
}

.service-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 980px) {
  .service-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service__picture {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.5%;
          flex: 0 1 48.5%;
  padding: 0 0 42.99% 0;
}

.service__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media (max-width: 980px) {
  .service__picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 0 75% 0;
    margin: 0 0 30px 0;
  }
}

.service__picture::before {
  content: "";
  position: absolute;
  top: 128px;
  left: -48px;
  width: 98px;
  height: 96px;
  mix-blend-mode: multiply;
  background-color: #F58A07;
  border-radius: 20px;
  z-index: 5;
}

@media (max-width: 1310px) {
  .service__picture::before {
    left: calc(-35px + -13 * ((100vw - 320px) / 990));
  }
}

@media (max-width: 1310px) {
  .service__picture::before {
    width: calc(58px + 40 * ((100vw - 320px) / 990));
  }
}

@media (max-width: 1310px) {
  .service__picture::before {
    height: calc(56px + 40 * ((100vw - 320px) / 990));
  }
}

.service__items > * {
  margin: 0 0 24px 0;
}

.service__items > *:last-child {
  margin: 0 0 0 0;
}

.service__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 583px;
          flex: 0 1 583px;
  padding: 0 0 0 15px;
}

@media (max-width: 980px) {
  .service__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 0 0 0;
  }
}

.service__title {
  color: #0D1317;
  font-size: 48px;
  font-weight: 600;
  line-height: 116.666%;
  letter-spacing: -0.03em;
}

@media (max-width: 1310px) {
  .service__title {
    font-size: calc(30px + 18 * ((100vw - 320px) / 990));
  }
}

.service__text {
  color: #5B5B5B;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 166.6666%;
  letter-spacing: 0em;
}

.service__link {
  position: relative;
  color: #5B5B5B;
  font-size: 1rem;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0em;
  padding: 0 0 0 20px;
}

.service__link::before {
  content: "\002E";
  position: absolute;
  font-size: 28px;
  top: -7px;
  left: 0;
}

.service__link:not(:last-child) {
  margin: 0 0 8px 0;
}

.page__digitalization {
  margin: 0 0 128px 0;
}

.service-body__digigtalization {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.service-picture__digigtalization::before {
  display: none;
}

.service-picture__digigtalization::after {
  content: "";
  position: absolute;
  top: 272px;
  right: -48px;
  width: 98px;
  height: 96px;
  mix-blend-mode: multiply;
  background-color: #F58A07;
  border-radius: 20px;
  z-index: 5;
}

@media (max-width: 1310px) {
  .service-picture__digigtalization::after {
    top: calc(118px + 154 * ((100vw - 320px) / 990));
  }
}

@media (max-width: 1310px) {
  .service-picture__digigtalization::after {
    right: calc(-35px + -13 * ((100vw - 320px) / 990));
  }
}

@media (max-width: 1310px) {
  .service-picture__digigtalization::after {
    width: calc(58px + 40 * ((100vw - 320px) / 990));
  }
}

@media (max-width: 1310px) {
  .service-picture__digigtalization::after {
    height: calc(56px + 40 * ((100vw - 320px) / 990));
  }
}

.service-items__digigtalization {
  padding: 0 15px 0 0;
}

.page__assessment {
  margin: 0 0 128px 0;
}

.service-picture__assessment::before {
  content: "";
  position: absolute;
  top: 217px;
  left: -48px;
  width: 98px;
  height: 96px;
  mix-blend-mode: multiply;
  background-color: #F58A07;
  border-radius: 20px;
  z-index: 5;
}

@media (max-width: 1310px) {
  .service-picture__assessment::before {
    top: calc(93px + 124 * ((100vw - 320px) / 990));
  }
}

@media (max-width: 1310px) {
  .service-picture__assessment::before {
    left: calc(-35px + -13 * ((100vw - 320px) / 990));
  }
}

@media (max-width: 1310px) {
  .service-picture__assessment::before {
    width: calc(58px + 40 * ((100vw - 320px) / 990));
  }
}

@media (max-width: 1310px) {
  .service-picture__assessment::before {
    height: calc(56px + 40 * ((100vw - 320px) / 990));
  }
}

.page__intelligence {
  margin: 0 0 128px 0;
}

.page__contracts {
  margin: 0 0 128px 0;
}

.page__fineswork {
  margin: 0 0 128px 0;
}

.page__blogon {
  background-color: #DCEAF5;
  padding: 96px 0 96px 0;
}
/*# sourceMappingURL=services.css.map */