//--Миксин Адаптивное свойство (подключать @include adaptive-value("свойство",размер по макету 40px,размер на разрешении 320 20рх, тип = 1)---------//
$maxWidth: 1920;
$maxWidthcontainer: 1310;
@mixin adaptive-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		// Только если меньше контейнера //
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthcontainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthcontainer - 320}));
		}

	} @else if $type==2 {
		// Только если больше контейнера //
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthcontainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		// Всегда //
 		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
	
}
.engineer {
}
.page__engineer {
    margin: 108px 0 0 0;
}
.page__engineer-container {
}
._container {
}
.page__engineer-title {
    color: #1D3444;
@include adaptive-value ("font-size",64 ,35 ,1);
font-weight: 600;
line-height: 117%;
letter-spacing: -0.03em;
margin: 0 0 64px 0;


}
.page__engineer-body {
    display: flex;
    margin: 0 0 64px 0;
    @media (max-width:747px){
        flex-wrap: wrap;
    }

}
.engineer-body__discription {
    flex: 1 1 auto;
    padding: 0 20px 0 0;
    @media (max-width:747px){
        max-width: 100%;
        margin: 0 0 20px 0;
    }

}
.engineer-body__title {
   
max-width: 640px;
    color: #0D1317;
font-size: 1.5rem;
font-weight: 500;
line-height: 125%;
letter-spacing: -0.03em;
margin: 0 0 16px 0;


}
.engineer-body__text {
    max-width: 640px;
    color: #5B5B5B;
font-size: 1.125rem;
font-weight: 500;
line-height: 167%;
letter-spacing: 0em;
text-align: left;


}
.engineer-body__salary {
    flex: 0 1 356px;

}
.page__engineer-datails {
    background: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    @include adaptive-value("padding-top",65 ,15 ,1 );
    @include adaptive-value("padding-bottom",65 ,15 ,1 );
    @include adaptive-value("padding-left",68 ,15 ,1 );
    @include adaptive-value("padding-right",68 ,15 ,1 );
    margin: 0 0 128px 0;
}
.tabs {
}
.engineer-datails__tabs {
    display: flex;
    @media (max-width:747px){
        flex-wrap: wrap;
        justify-content: center;
    }
}
.tabs__header {
    
}
.datails-tabs__header {
    display: block;
    @include adaptive-value("margin-right",90 ,40 ,1 );
    @media (max-width:747px){
       margin-right: 0;
       text-align: center;
    }
  
}
.tab-nav__item {
}
.active {
}
.datails-tabs__item {
    cursor: pointer;
    &:not(:last-child){
        margin: 0 0 40px 0;
    }
    &.active{
        background-color: transparent;
    }
}
.tabs__body {
}
.datails-tabs__body {
}
.tab__content {
}
.tab-1 {
}
.datails-tabs__content {
max-width: 842px;
    color: #5B5B5B;
font-size: 1rem;
font-weight: 500;
line-height: 175%;
letter-spacing: 0em;
text-align: left;
p{
    margin: 0 0 30px 0;
}


}
.tab-2 {
}
.tab-3 {
}

.apply-engineer {
}
.apply-engineer__page {
    margin: 0 0 125px 0;
}
.apply-engineer__title {
   color: #0D1317;
@include adaptive-value("font-size",48 ,30 ,1 );
font-weight: 600;
line-height: 117%;
letter-spacing: -0.03em;
margin: 0 0 51px 0;


}
.apply-engineer__forms {
}
.engineer-forms {
    display: flex;
    flex-wrap: wrap;
}
.engineer-forms__input {
flex: 0 1 45%;
@media (max-width:980px){
    flex: 0 1 100%;
    margin: 0 0 24px 0;
}
    color: #9C9C9C;
    font-family: Inter;
font-size: 1rem;
font-weight: 500;
line-height: 118.75%;
letter-spacing: 0em;
text-align: left;
    display: flex;
    align-items: center;
    padding: 18px 37px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    margin: 0 24px 24px 0;
}
.engineer-forms__textarea{
    @media (max-width:980px){
        flex: 0 1 100%;
        margin: 0 0 0 0;
    }
    flex: 0 1 92%;
    color: #9C9C9C;
    font-family: Inter;
font-size: 1rem;
font-weight: 500;
line-height: 118.75%;
letter-spacing: 0em;
text-align: left;
    display: flex;
    align-items: center;
    padding: 18px 37px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    margin: 0 24px 24px 0;
}
.engineer-forms__button {
    &:hover{
		background-color: #aa5200;
	}
	@media (max-width:980px){
		display: flex;
		width: 100%;
		justify-content: center;
		margin: 0 0 30px 0;

	}
}